In [9]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import csv
import re
import urllib
from datetime import datetime
import os
import sys
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

bs4.element.Tag

In [21]:
#scrap the page 

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' 
r = requests.get(url)
NIT = BeautifulSoup(r.content,"lxml")


htmlpage = urllib.request.urlopen(url)

lst = []
for line in htmlpage:
    line = line.strip()
    if re.search('table class', line.decode('utf-8')) :
        lst.append(line)

table=NIT.find('table', {'class', 'wikitable sortable'})

headers= [header.text for header in table.find_all('th')]
headers = list(map(lambda x: x.strip(), headers))

rows = []
for row in table.find_all('tr'):
    rows.append([val.text for val in row.find_all('td')])

    
df1 = pd.DataFrame(rows, columns=headers)
df1.head()

  Postcode       Borough       Neighbourhood
0     None          None                None
1      M1A  Not assigned      Not assigned\n
2      M2A  Not assigned      Not assigned\n
3      M3A    North York         Parkwoods\n
4      M4A    North York  Victoria Village\n

In [22]:
df1 = df1.drop(df1.index[0])
df1.head(10)

   Postcode           Borough       Neighbourhood
1       M1A      Not assigned      Not assigned\n
2       M2A      Not assigned      Not assigned\n
3       M3A        North York         Parkwoods\n
4       M4A        North York  Victoria Village\n
5       M5A  Downtown Toronto      Harbourfront\n
6       M5A  Downtown Toronto       Regent Park\n
7       M6A        North York  Lawrence Heights\n
8       M6A        North York    Lawrence Manor\n
9       M7A      Queen's Park      Not assigned\n
10      M8A      Not assigned      Not assigned\n

In [26]:
df1=df1[df1.Borough!='Not assigned'].reset_index(drop=True)
df1.head(5)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [23]:
df1['Neighbourhood'] = df1['Neighbourhood'].str.replace('\n', '')
df1.head(10)

   Postcode           Borough     Neighbourhood
1       M1A      Not assigned      Not assigned
2       M2A      Not assigned      Not assigned
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
10      M8A      Not assigned      Not assigned

In [27]:
foo = lambda a: ",".join(a) 
df0=df1.groupby(['Postcode','Borough']).agg({'Neighbourhood': foo}).reset_index()
df0.head(10)

  Postcode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

In [28]:
df1.shape

(211, 3)